.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-sizing: border-box;
  margin: 0 0 0 2px;
  padding: 0;
  align-self: center;
  background: none;
}
