.card__heart {
  margin: 25px 30px 31px 0;
  padding: 0;
  height: 19px;
  width: 22px;
  border: none;
  background: none;
}

.card__heart:hover {
  opacity: .5;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}
